*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family:light;
    src: url(../fonts/PublicSans-Light.ttf);
}
    @font-face {
        font-family: regular;
        src: url(../fonts/PublicSans-Regular.ttf);
    }
    @font-face {
    font-family: semibold;
    src: url(../fonts/PublicSans-SemiBold.ttf);
  }
  header .heed{
      background-color: #24aef0;
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding: 20px;
  }
  .menu-mobile{
      display: none ;
      position: relative;
  }
  .socail {
margin-right: 30px;
  }
  .socail i{
      margin-right: 20px;
  }
  header .heed i a{
      list-style: none;
      color: #fff;
      text-decoration: none;
  }header .navigation{
      display: flex;
      justify-content: space-between;
  }
  header nav ul{
    display: flex;
    font-family: light;
    justify-content: center;
   margin: 30px;

}
  nav ul li{
    margin-left: 20px;
    list-style: none;
    color:  #777777;
    
}
.logo h2{
  color:  #777777;
  margin: 30px;
}
section{
    width: 100%;
    height: auto;
    background-color: #d6d6d6;
}
.container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 1%;
    padding-bottom: 7%;
    justify-content: space-between;
}
.container .title {
    grid-column: span 4;
    margin-bottom: 50px
}
.container .title{
    margin-left: 60px;
    font-family: regular;
    
  
}
.container .title h3{
    color: #fff;
}
.container .title h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #24aef0;
}
.container .title p {
   
    margin-bottom: 20px;
}

.container .title .one{
    
    border: 1px solid #24aef0;
    background-color: #24aef0;
    color: #fff;
    padding: 10px;
    
}
.container .title .two{
    font-family: light;
    border: 1px solid #FFF;
    background-color: #fff;
    color: #24aef0;
    padding: 10px;
    
}
.container1{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.person{
   
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
   
    
    
}
.container1 .person .img1 img{
    width: 28px;
   
}
.person h3{
    font-size: 18px;
}


.person .fun{
      
    font-family: light;
    color: hsl(213, 9%, 39%);
    line-height: 1.8;
    font-size: 14px;

  }
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service {
    background-color: #777777;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    position: relative;
}

.service .dot{
    color: #fff;
    text-align: center;
    font-family: regular;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.service .dot img{
    margin-top: 20px;
}
.service .dot .icon{
    opacity: 0.2;
}
.srv-box{
    
    margin-left: 20px;
    
}

    .container2 img
    {
        width: 400px;
        height: 200px;
    }
    .srv-box p{
        margin-bottom: 20px;
        font-family:regular ;
        color: hsl(213, 9%, 39%);
    }
    .srv-box a{
        border: 1px solid #24aef0;
        background-color: #24aef0;
        color: #fff;
        padding: 10px;
    }
    .form{
        border: 1px solid #24aef0;
        padding: 10px;
        color: #fff;
        background-color:#24aef0 ;
    }
    .form h3{
        font-family: semibold;
        margin-bottom: 10px;
    }
    .form p{
        font-family: light;
        margin-bottom: 40px;
    }
    .form a{
        color: #000;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 10px 70px 10px 70px;
    }
    .client{
        background-color: #eeeeee;
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    .client img{
        width: 100px;
    margin: 20px;
    }
    .icon-socail{
        background-color: #000;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 20px;

    }
    .icon-socail p{
        color: #7e7e7e;
    }
    .icon-socail .four i{
        border:1px solid #777777;
        background-color: #777777;
        margin-right: 10px;
    }
    footer{
        background-color: #1a1e21;
        color: #fff;
    }

    .foo{
       padding-top: 30px;
       padding-bottom: 30px;
        margin-left: 30px;
        display: grid;
  grid-column-gap: 40px;
  grid-template-columns: auto auto auto auto;
    }
    .foo p{
        color: #7e7e7e;
    }
    .foo .part2 .imges img{
        margin: 10px;
    }
    .foo .part2 .imges p{
        margin: 10px;
        font-size: 15px;
    }
    .foo .part2 .imges .on {
 display: flex;
 flex-direction: row;
    }
    .foo .part2 .imges .off{
        display: flex;
        flex-direction: row;
    }
    
    .foo .part2 img{
        width: 15%;
        height: auto;
    }
    .foo .part3 {
        display: grid;
        
        grid-row-gap: 2px;
      

    }
    .foo .part3 a{
        color: #fff;
        border: 1px solid gray;
        padding: 1px;
        
    }
    .foo .part5 input{
        padding: 5px;
    }